.DS_Store
.env
/shopify.app.toml
/uv.lock
package-lock.json
/admin/.env
/admin/dist/
/admin/node_modules/
/admin/*.tsbuildinfo
/admin/vite.config.js
/admin/vite.config.d.ts
.venv/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.vscode/
.shopify/
/theme-src/node_modules/
